page-more {
    img {
        object-fit: cover !important;
        border-radius: 50%;
        height: 30vw;
        width: 30vw;
    }
    .name{
        color: $app;
        font-weight: bold;
    }
    .main{
        background-color: #f4f4f4;
    }
}
