page-question-answers {
    .icon-right{
        position: absolute;
        right: 0;
        top: 0;
    }
    .answer{
        color: gray;
    }
    .content{
        margin: 5px 0px 0px 0px;
    }
}
