page-createproduct {
    img {
        object-fit: cover;
        width: 100%;
    }
    .deleteprod {
        position: absolute;
        // top: 0;
        bottom: 0;
        right: 0;
    }
    textarea {
        width: 100%;
        // margin: 5px 0;
        // padding: 3px;
    }
    .fab{
        width: 30px !important;
        height: 30px !important;
    }
}