page-shopedit {
    // .roundedclass {
    //     border-radius: 15px;
    // }
    .content {
        margin: 5px 0px 0px 0px;
    }
    .grid {
        padding: 0 !important;
        .col {
            padding: 0 !important;
        }
    }
    .containerclass {
        width: 100%; // height: auto;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #3c6233;
        background-color: white;
        margin-bottom: 1vh;
        padding-bottom: 1vh;
    }
    .padding-15 {
        padding-top: 15px;
    }
    .fixPin {
        margin-bottom: 0px;
    }
    .pin {
        // position: absolute;
        font-size: 1.8em;
    }
    .detailtimes {
        // width: 150px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #3c6233; // margin-bottom: 3vh;
        background-color: #3c6233;
        color: white; // margin-bottom: -22px;
    }
    .textTimes {
        margin-right: 5px;
        margin-bottom: -12px;
    }
    .textTimesDay {
        margin-left: 5px;
        margin-bottom: 0px;
    }
    .buttonIon {
        width: 80px;
    }
    .slide-xpromote {
        height: 30vh;
        border: solid #3c6233;
    }
    .font-size {
        font-size: 1.2em;
    }
    .slide-xsize {
        // height: 24vh;
    }
    .row-custom {
        // flex-wrap: inherit !important;
        flex-wrap: nowrap !important;
    }
    .cateimg {
        height: 110px;
        width: 150px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #dadada;
    }
    .detail-open-close {
        margin-top: 20px;
        border: solid #3c6233;
    }
    .fontStyle {
        color: #999 !important;
    }
    .warning-invalid {
        color: #eb3841;
    }
    .iconEditTimes {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0%, -20%)
    }
    .txtAddress {
        margin-left: 10px;
        text-align: left;
    }
    ion-scroll[scrollX] {
        height: 150px;
        .scroll-item {
            display: inline-block;
        }
    }
    textarea {
        width: 100%;
    }
}