page-firstloginstep4 {
    .content {
        margin: 5px 0px 0px 0px;
    }
    .roundedclass {
        border-radius: 15px;
    }
    .containerclass {
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #3c6233;
        background-color: white;
        margin-bottom: 3vh; // padding-bottom: 4vh;
    }
    .detailtimes {
        width: auto;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #3c6233; // margin-bottom: 3vh;
        background-color: #3c6233;
        color: white; // margin-bottom: -22px;
    }
    .textTimes {
        margin-left: 5px;
        margin-bottom: -12px;
    }
    .iconEditTimes {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0%, -20%)
    }
    .textTimesDay {
        margin-left: 5px;
        margin-bottom: 0px;
    }
    .buttonIon {
        width: 80px;
    }
    .slide-xpromote {
        height: 30vh;
        border: solid #3c6233;
    }
    .font-size {
        font-size: 1.2em;
    }
    .slide-xsize {
        height: 30vh;
    }
    .row-custom {
        // flex-wrap: inherit !important;
    }
    .cateimg {
        height: 110px;
        width: 150px;
        border-style: solid;
        border-width: 0.5px;
        border-color: #dadada;
    }
    .detail-open-close {
        margin-top: 20px;
        border: solid #3c6233;
    }
    .fontStyle {
        color: #999 !important;
    }
}