<ion-header no-border>
  <!-- <ion-navbar transparent>
    <ion-buttons right>
        <button ion-button color="light" *ngIf="slideIndex < slides.length - 1" class="skip-button" (click)="skip()">SKIP</button>
      </ion-buttons>
  </ion-navbar> -->
</ion-header>
<ion-content fullscreen="true" class="no-padding-top">
  <!-- autoplay="2000" -->

  <ion-slides #slider pager="true" (ionSlideWillChange)="onSlideChanged()">
    <!-- <ion-slide *ngFor="let slide of slides" class="slide-background" [ngStyle]="{'background-image': 'url(' + slide.imageUrl +')'}"> -->
    <ion-slide *ngFor="let slide of slides" class="slide-background">
      <ion-row>
          <ion-col col-sm-4 col-md-4 col-lg-3 col-xl-2>
  
            </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-6 col-xl-8 col-12 text-center>
          <!-- <img src="{{slide.imageUrl}}"> -->
          <preload-image [ratio]="{w:1, h:1}" [src]="slide.imageUrl"></preload-image>
        </ion-col>
        <ion-col col-sm-4 col-md-4 col-lg-3 col-xl-2>
  
          </ion-col>
        <ion-col col-12 *ngIf="language === 'th'">
          <p style="color:#3c6233">{{slide.descriptionth}}</p>
        </ion-col>
        <ion-col col-12 *ngIf="language === 'en'">
          <p style="color:#3c6233">{{slide.descriptionen}}</p>
        </ion-col>
      </ion-row>

      <!-- <div class="text-wrapper">
        <div class="slide-text">
            <h2 class="slide-title" [innerHTML]="slide.title"></h2><br>
            <p [innerHTML]="slide.description"></p>
          </div>
      </div> -->
      <div class="floating-buttons" text-right>
        <button ion-button color="danger" clear (click)="goToApp()">Skip</button>
      </div>
    </ion-slide>
  </ion-slides>
  <!-- <ion-fab bottom right>
    <button ion-fab color="danger" (click)="goToApp()">Skip</button>
  </ion-fab> -->
</ion-content>