// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app {
    font-family: 'Kanit', sans-serif !important;
}

// content {
//     font-family: 'Kanit', sans-serif !important;
// }
ion-content {
    background-color: #f7f7f7 !important;
}

ion-footer {
    background-color: #f7f7f7 !important;
}

.toolbar-title {
    text-align: center;
    color: $app !important;
    font-weight: bold;
}

.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?2law6p');
    src: url('../assets/fonts/icomoon.eot?2law6p#iefix') format('embedded-opentype'), url('../assets/fonts/icomoon.ttf?2law6p') format('truetype'), url('../assets/fonts/icomoon.woff?2law6p') format('woff'), url('../assets/fonts/icomoon.svg?2law6p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin makeIcon($arg,
$val) {
    .ion-md-#{$arg}:before,
    .ion-md-#{$arg}-circle:before,
    .ion-md-#{$arg}-circle-outline:before,
    .ion-md-#{$arg}-outline:before {
        font-family: "icomoon" !important;
        content: $val;
        font-weight: bold;
        font-size: xx-large;
    }
    .ion-ios-#{$arg}:before,
    .ion-ios-#{$arg}-circle:before,
    .ion-ios-#{$arg}-circle-outline:before,
    .ion-ios-#{$arg}-outline:before {
        font-family: "icomoon" !important;
        content: $val;
        font-weight: bold;
    }
}

@include makeIcon(icon-e-biker,
'\e900');
@include makeIcon(icon-e-more,
'\e901');
@include makeIcon(icon-e-myshop,
'\e902');
@include makeIcon(icon-e-order,
'\e903');
@include makeIcon(icon-e-status,
'\e904');
[class^="icon-e"],
[class*=" icon-e"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-e-biker:before {
    content: "\e900";
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.header-md::after {
    background-image: none !important;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0px !important;
}

.icon-e-more:before {
    content: "\e901";
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.icon-e-myshop:before {
    content: "\e902";
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.icon-e-order:before {
    content: "\e903"; // color: #fff;
    background-color: white;
    font-size: 84px;
}

.icon-e-status:before {
    content: "\e904";
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.tabs-ios .tab-button {
    -webkit-text-stroke: 1px !important;
}

ion-tabs.tabs {
    text-align: unset !important;
}

// loading
@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-eclipse {
    position: relative;
}

.lds-eclipse div.spin {
    position: absolute;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: -20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #689171;
    -webkit-transform-origin: 80px 82px;
    transform-origin: 80px 82px;
}

.lds-eclipse {
    width: 120px !important;
    height: 120px !important;
    -webkit-transform: translate(-60px, -60px) scale(0.6) translate(60px, 60px);
    transform: translate(-60px, -60px) scale(0.6) translate(60px, 60px);
}

.div-image {
    height: 100% !important;
    width: 100% !important;
    text-align: center;
    padding-top: 40px;
}

.loading-image {
    width: 100% !important;
}

.loading-md .loading-wrapper {
    border-radius: 200%;
    max-width: 120px;
    max-height: 120px;
    text-align: center !important;
    padding: 24px;
}

.loading-ios .loading-wrapper {
    border-radius: 200%;
    max-width: 120px;
    max-height: 120px;
    text-align: center !important;
    padding: 24px;
}
// .tabs-ios {
//     -webkit-text-stroke: 1px !important;
// }
// .tab-button-icon::before {
//     -webkit-text-stroke: 1px !important;
// }