<!--
  Generated template for the StatusDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="whity">
    <ion-title>{{ 'DETAIL' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <div class="address">
    <ion-list mode="md">
      <ion-item>
        <ion-label>
          <h2>
            <b>ที่อยู่จัดส่ง</b>
          </h2>
          <p>{{ordDetail.shipping.name}}</p>
          <p>{{ordDetail.shipping.address}} {{ordDetail.shipping.district}} {{ordDetail.shipping.subdistrict}} {{ordDetail.shipping.province}}
            {{ordDetail.shipping.postcode}} {{ordDetail.shipping.tel}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="product-list">
    <ion-list mode="md">
      <ion-item>
        <ion-label>
          <h2>
            <b>รายการสินค้า</b>
          </h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="item-product" mode="md">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="{{ordDetail.product.image}}">
        </ion-thumbnail>
        <ion-label stacked class="label-margin">
          <h2 class="product-name">{{ordDetail.product.name}}</h2>
          <p>{{ordDetail.product.price}} {{ 'THB' | translate }}</p>
          <p>{{ 'QTY' | translate }}: {{ordDetail.product.qty}}</p>
          <p>{{ 'SHIPPING' | translate }}: {{ordDetail.product.shippingtype}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="total" mode="md">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <h2>
                <b>ราคารวม</b>
              </h2>
            </ion-col>
            <ion-col col-6 text-right>
              <h2>
                <b>{{ordDetail.amount}} {{ 'THB' | translate }}</b>
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div> -->

  <div *ngIf="ordDetail.product" [ngClass]=" isheight <= 660 ? 'fixHeight' : isheight <= 667 ? 'fixHeight2' : isheight <= 736 ? 'fixHeight3' : ''">
    <div class="address">
      <ion-list mode="md">
        <ion-item>
          <ion-label *ngIf="ordDetail.status ==='confirm'">
            <h2>
              <b>{{ 'CREATE_ORDER_DATE' | translate }}</b>
            </h2>
            <p>{{ ordDetail.confirmdate | date:'dd/MM/yyyy HH:mm'}}</p>
          </ion-label>
          <ion-label *ngIf="ordDetail.status ==='sent'">
            <h2>
              <b>{{ 'SHIPPING_DATE' | translate }}</b>
            </h2>
            <p>{{ ordDetail.sentdate | date:'dd/MM/yyyy HH:mm'}}</p>
          </ion-label>
          <ion-label *ngIf="ordDetail.status ==='completed'">
            <h2>
              <b>{{ 'RECEIPT_DATE' | translate }}</b>
            </h2>
            <p>{{ ordDetail.receiveddate | date:'dd/MM/yyyy HH:mm'}}</p>
          </ion-label>
          <ion-label *ngIf="ordDetail.status ==='cancel' || ordDetail.status ==='cancelrefund'">
            <h2>
              <b>{{ 'CANCEL_DATE' | translate }}</b>
            </h2>
            <p>{{ ordDetail.canceldate | date:'dd/MM/yyyy HH:mm'}}</p>
            <p *ngIf="ordDetail.rejectreason">
              {{'REMARK' | translate}} {{ordDetail.rejectreason}}
            </p>
            <b class="cancel" *ngIf="ordDetail.status ==='cancel' || ordDetail.status ==='reject'">{{ 'CANCEL_RECEIPT_NOT' | translate }}</b>
            <b class="cancel" *ngIf="ordDetail.status ==='cancelrefund' || ordDetail.status ==='rejectrefund'">{{ 'CANCEL_RECEIPT' | translate }}</b>
          </ion-label>
          <ion-label *ngIf="ordDetail.status ==='reject' || ordDetail.status ==='rejectrefund'">
            <h2>
              <b>{{ 'REJECT_DATE' | translate }}</b>
            </h2>
            <p>{{ ordDetail.canceldate | date:'dd/MM/yyyy HH:mm'}}</p>
            <p *ngIf="ordDetail.rejectreason">
              {{'REMARK' | translate}} {{ordDetail.rejectreason}}
            </p>
            <!-- <b class="cancel" *ngIf="ordDetail.status ==='cancel' || ordDetail.status ==='reject'">{{ 'CANCEL_RECEIPT_NOT' | translate }}</b> -->
            <!-- <b class="cancel" *ngIf="ordDetail.status ==='cancelrefund' || ordDetail.status ==='rejectrefund'">{{ 'CANCEL_RECEIPT' | translate }}</b> -->
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="address">
      <ion-list mode="md">
        <ion-item>
          <ion-label>
            <h2>
              <b>{{ 'ORDER_NUMBER' | translate }}</b>
            </h2>
            <p>{{ ordDetail.docno }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="address">
      <ion-list mode="md">
        <ion-item>
          <ion-label>
            <h2>
              <b>{{ 'SHIPPING_ADDRESS' | translate }}</b>
            </h2>
            <p>{{ ordDetail.shipping.name }}</p>
            <p>{{ ordDetail.shipping.address }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="product-list">
      <ion-list mode="md">
        <ion-item>
          <ion-label>
            <h2>
              <b>{{ 'PRODUCT_LIST' | translate}}</b>
            </h2>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list class="item-product" mode="md">
        <ion-item>
          <ion-thumbnail item-start>
            <!-- <img src="{{ ordDetail.product.image }}"> -->
            <preload-image [ratio]="{w:1, h:1}" [src]="ordDetail.product.image"></preload-image>
          </ion-thumbnail>
          <ion-label stacked class="label-margin">
            <h2 class="product-name">{{ ordDetail.product.name }}</h2>
            <p>{{ ordDetail.product.price | number }} {{ 'THB' | translate }}</p>
            <p>{{ 'QTY' | translate }}: {{ ordDetail.product.qty }}</p>
            <p>{{ 'SHIPPING_TYPE' | translate }}: {{ ordDetail.product.shippingtype }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="total">
      <ion-list mode="md">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <h2>
                  <b>{{ 'TOTAL_FEE' | translate }}</b>
                </h2>
              </ion-col>
              <ion-col col-6 text-right>
                <h2>
                  <b>{{ ordDetail.amount | number }} {{ 'THB' | translate }}</b>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="ordDetail.discount">
              <ion-col col-6>
                <h2>
                  <b>{{ 'DISCOUNT' | translate }}</b>
                </h2>
              </ion-col>
              <ion-col col-6 text-right>
                <h2>
                  <b>{{ ordDetail.discount | number }} {{ 'THB' | translate }}</b>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <h2>
                  <b>{{ 'DELIVERY_FEE' | translate }}</b>
                </h2>
              </ion-col>
              <ion-col col-6 text-right>
                <h2>
                  <b>{{ ordDetail.product.shippingprice | number}} {{ 'THB' | translate }}</b>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <h2>
                  <b>{{ 'TOTAL_AMOUNT' | translate }}</b>
                </h2>
              </ion-col>
              <ion-col col-6 text-right>
                <h2>
                  <b>{{ (ordDetail.amount + ordDetail.product.shippingprice) | number}} {{ 'THB' | translate }}</b>
                </h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

    
      <ion-list mode="md">
        <ion-item *ngIf="ordDetail.confirmdate">
          <ion-label>
            <ion-row>
              <ion-col col-6>
                <p text-left>{{ 'CREATE_ORDER_DATE' | translate }}</p>
              </ion-col>
              <ion-col col-6>
                <p text-right>{{ ordDetail.confirmdate | date:'dd/MM/yyyy HH:mm'}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="ordDetail.sentdate">
          <ion-label>
            <ion-row>
              <ion-col col-6>
                <p text-left>{{ 'SHIPPING_DATE' | translate }}</p>
              </ion-col>
              <ion-col col-6>
                <p text-right>{{ ordDetail.sentdate | date:'dd/MM/yyyy HH:mm'}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="ordDetail.receiveddate">
          <ion-label>
            <ion-row>
              <ion-col col-6>
                <p text-left>{{ 'RECEIPT_DATE' | translate }}</p>
              </ion-col>
              <ion-col col-6>
                <p text-right>{{ ordDetail.receiveddate | date:'dd/MM/yyyy HH:mm'}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="ordDetail.canceldate">
          <ion-label>
            <ion-row>
              <ion-col col-6>
                <p text-left>{{ 'CANCEL_DATE' | translate }}</p>
              </ion-col>
              <ion-col col-6>
                <p text-right>{{ ordDetail.canceldate | date:'dd/MM/yyyy HH:mm'}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-list>
     
    
  </div>
  
</ion-content>

<ion-footer>
  <ion-row *ngIf="ordDetail.status === 'confirm'">
    <!-- <ion-col>
      <button class="btn" block ion-button item-end color="danger" (click)="rejectOrder(itm)">{{'REJECT'| translate}}</button>
    </ion-col> -->
      <button class="btn" block ion-button item-end color="secondary" (click)="sentOrder(itm)">{{'SENT'| translate}}</button>
  </ion-row>
</ion-footer>